@import "compass/reset";
@import "fonts";

$LIGHT_COLOR: #f0f0f0;
$DARK_COLOR: #151515;

html, body {
  width: 100%;
  height: 100%;
  background-color: $LIGHT_COLOR;
  overflow-x: hidden;
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  font-family: Lato, sans-serif;
  font-size: 62.5%;
  margin: 3px;
}

.title {
  font-size: 1.8rem;
  margin: 5px;
}

.new-todo-panel {
  background-color: white;
  padding: 5px;
  margin: 5px;

  input, button {
    font-size: 18pt;
  }
}

.todo-list {
  padding: 10px;
  font-size: 10pt;
  list-style-type: initial;
  list-style-position: inside;

  li {

    &.completed {
      text-decoration: line-through;
      opacity: 0.3;
    }
  }
}

.delete-link {
  font-size: x-small;
}

.info-panel {
  @extend .panel;
  margin: 10px 5px;
  font-size: 0.8rem;
  line-height: 1rem;

  background-color: white;
  padding: 0.3em 0.5em;
  border-radius: 5px;
  border: 1px solid $DARK_COLOR;

  p {
    margin: 10px 0;
  }

  em {
    font-style: italic;
  }
}

.blog-post {
  background: white;
  margin: 5px;
  border: 1px solid lightsteelblue;
  border-radius: 5px;
  padding: 5px;

  h3 {
    font-weight: bold;
    font-size: 1.2rem;
  }

  h6 {
    font-size: 0.7rem;
    font-style: italic;
    color: lightgrey;
  }

  p {
    margin: 8px 0;
    font-size: 0.9rem;
  }
}

.bigass-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border: 0;
  cursor: pointer;
}

.action-button {
  @extend .bigass-button;
  background: #3498db;
  border-bottom: 2px solid #2a8bcc;
  -webkit-box-shadow: inset 0 -2px #2a8bcc;
  box-shadow: inset 0 -2px #2a8bcc;
}

.cancel-button {
  @extend .bigass-button;
  background: #9CA1A5;
  border-bottom: 2px solid #6A6C6D;
  -webkit-box-shadow: inset 0 -2px #6A6C6D;
  box-shadow: inset 0 -2px #6A6C6D;
}

.post-form {
  display: block;
  padding-right: 13px;

  .post-field {
    font-size: 1rem;
    width: 100%;
    margin: 5px;
  }

}