<div class="container">
	<div class="info-panel">
		<p>Welcome to the MEEN stack, a full web application stack consisting of:
			<ul>
				<li><strong><a href="http://www.mongodb.org/" target="_blank">MongoDB</a></strong> - the leading NoSQL database,</li>
				<li><strong><a href="http://expressjs.com/" target="_blank">Express</a></strong> - a minimal and flexible node.js web application framework,</li>
				<li><strong><a href="http://emberjs.com/" target="_blank">Ember.JS</a></strong> - a framework for creating ambitious web applications, and</li>
				<li><strong><a href="http://nodejs.org/" target="_blank">Node.JS</a></strong> - a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications.</li>
			</ul>
		</p>
		<p>
			This starter kit includes 2 sample apps that demonstrates the capabilities of this stack. Ensure that you have MongoDB installed and started. If not, refer to the MongoDB website above for instructions.</br>
		</p>
		
	</div>

</div>

	{{#link-to 'todo'}}<button class="action-button">Todo List sample app</button>{{/link-to}} 
	<p>&nbsp;</p>
	{{#link-to 'blog'}}<button class="action-button">Blog sample app</button>{{/link-to}} 

<div class="container">
	<div class="info-panel">
		<p>
			To contribute to this project, fork the Github repo at <strong><a href="https://github.com/subeeshb/MEEN-starter">https://github.com/subeeshb/MEEN-starter</a></strong>.
		</p>
	</div>
</div>
	
